body{
	padding: 0;
	margin: 0;
	list-style: none;
}
.container{
	width: 1024px;
	margin: 0 auto;
	position: relative;
}
#bg{
	width: 100%;
}
#header{
	width: 100%;
	position: absolute;
	top: 0;
	height: 90px;
	border-bottom: 1px solid #333333;
}
#header_in{
	height: 90px;
	
}
#logo{
	position: absolute;
	width: 230px;
	height: 70px;
	left: 0;
	margin-top: 15px;
	box-sizing: border-box;
}
#logo img{
	position: absolute;
	left: 0;
	top: 0;
	width: 173px;
	height: 52px;
}
#header_right{
	position: absolute;
	right: 0;
	top: 10px;
	width: 615px;
	height: 40px;
}
#header_right li{
	height: 40px;
	line-height: 40px;
	margin: 0 25px;
	float: left;
	color: #8d9095;
    font-style: normal;
    font-weight: normal;
	list-style: none;
	font-size: 14px;
}
#header_right li a{
	color: #8d9095;
	font-style: normal;
	font-weight: normal;
	list-style: none;
	font-size: 14px;
	text-decoration: none;
}
#header_right li a:hover{
	color: #ff6600;
}
#bg{
	width: 100%;
	height: 723px;
}
#bg img{
	width: 100%;
	height: 723px;
}
#title{
	height: 160px;
	padding: 46px 0 26px 0;
	box-sizing: border-box;
}
#title h1{
	text-align: center;
	font-size: 36px;
	height: 48px;
	line-height: 48px;
	margin:0 0 14px 0 ;
	font-weight: 200;
	color: #3E3E3E;
}
#title p{
	text-align: center;
	font-size: 16px;
	height: 24px;
	line-height: 24px;
	color: rgb(128, 128, 128);
	margin: 0;
}
#content{
	height: 302px;
	list-style: none;
	padding: 0;
}
#content li{
	width: 226px;
	height: 100%;
	position: relative;
	bottom: -302px;
	padding: 0 0px;
	box-sizing: border-box;
	float: left;
	margin: 0 14px;
	opacity: 0;
	overflow: hidden;
}
.bottom{
	position: absolute;
	left: 49px;
	top: 36px;
}
#content li p{
	font-size: 16px;
	color: #ff6600;
	position: absolute;
	top:170px;
	left: 44px;
	margin: 0;
}
.line{
	position: absolute;
	top: 204px;
	left: 22px;
	width: 182px;
	height: 1px;
	margin: 0;
}
#content li h3{
	font-size: 14px;
	color: #808080;
	position: absolute;
	bottom:6px;
	left: 14px;
	font-weight: 200;
	margin: 0;
}
#title2{
	/* height: 160px; */
	padding: 46px 0 16px 0;
	box-sizing: border-box;
}
#title2 p{
	text-align: center;
	font-size: 36px;
	height: 48px;
	line-height: 48px;
	margin:0 0 14px 0 ;
	font-weight: 200;
	color: #3E3E3E;
}
#more-top{
	width: 100%;
	height: 256px;
	position: relative;
}
#more-top img{
	width: 304px;
	height: 202px;
	position: absolute;
	left: 40px;
	bottom: 5px;
}
#more-top #words{
	width: 589px;
	height: 30px;
	position: absolute;
	right: 30px;
	top: 35px;
	border-bottom: 1px solid #cccccc;
}
#words span{
	font-size: 18px;
	color: #FF6000;
	float: left;
	line-height: 30px;
	display: block;
}
#words p{
	font-size: 12px;
	color: #FF6000;
	float: right;
	line-height: 30px;
	display: block;
	font-weight: 100;
	margin: 0;
}
.middle{
	width: 589px;
	word-spacing: normal;
	font-size: 14px;
	color: #808080;
	position: absolute;
	top: 70px;
	right: 30px;
	line-height: 26px;
}
.down{
	width: 589px;
	word-spacing: normal;
	font-size: 14px;
	color: #808080;
	position: absolute;
	bottom:4px;
	right: 30px;
	line-height: 24px;
	margin: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}
#more-bottom{
	width: 100%;
	height: 256px;
	position: relative;
}
#more-bottom img{
	width: 304px;
	height: 202px;
	position: absolute;
	right: 40px;
	bottom: 5px;
}
#more-bottom #words{
	width: 589px;
	height: 30px;
	position: absolute;
	left: 30px;
	top: 35px;
	border-bottom: 1px solid #cccccc;
}
#more-bottom ul{
	list-style: none;
	width: 589px;
	height: 150px;
	position: absolute;
	left: 30px;
	bottom: 5px;
	padding: 0;
}
#more-bottom ul li{
	width: 589px;
	border-bottom: 1px dotted #c1c1c1;
	margin-bottom: 5px;
}
#more-bottom ul li a{
	text-decoration: none;
	margin-bottom: 5px;
    padding-bottom: 5px;
	font-size: 14px;
	color: #808080;
	line-height: 26px;
}
#end{
	width: 100%;
	height: 360px;
	background: #242424 none repeat center top;
    border-top: 1px solid transparent;
	padding-top: 50px;
}
#end-box{
	height: 360px;
}
.end-one{
	list-style: none;
	width: 33%;
	height: 200px;
	float: left;
	margin: 0;
	padding: 0;
}
.end-one li:nth-child(1){
	font-size: 14px;
	color: #FF6000;
}
.end-one li:nth-child(3){
	font-size: 14px;
	color: #696969;
	margin-bottom: 5px;
}
.end-one li:nth-child(4) span{
	font-size: 14px;
	color: #696969;
	margin-bottom: 5px;
}
.end-one li:nth-child(4) strong{
	font-size: 14px;
	color: #FF6000;
	margin-bottom: 5px;
}
.end-one li:nth-child(6){
	font-size: 14px;
	color: #D3D3D3;
	font-weight: 700;
	margin-bottom: 5px;
}
.end-one li:nth-child(7){
	font-size: 12px;
	color: #696969;
	margin-bottom: 5px;
}
.end-one li:nth-child(8){
	font-size: 12px;
	color: #696969;
	margin-bottom: 5px;
}
#end-words{
	padding-top: 256px;
	font-size: 12px;
	color: #c6c6c6;
	text-align: center;
}
.zd_jlt {
 width: 190px;
 height: 30px;
 margin: 0 auto;
 list-style: none;
}

.zd_jlt li {
 float: left;
 width: 32px;
 height: 32px;
 margin-left: 3px;
 background-color: #fff;
 margin-right: 3px;
 margin-top: 25px;
}

.zd_jlt :nth-child(1) {
 background: url(../img/social_icon_32x32.png) no-repeat 0 -160px;
}

.zd_jlt :nth-child(2) {
 background: url(../img/social_icon_32x32.png) no-repeat -64px -160px;
}

.zd_jlt :nth-child(3) {
 background: url(../img/social_icon_32x32.png) no-repeat -128px -160px;
}

.zd_jlt :nth-child(4) {
 background: url(../img/social_icon_32x32.png) no-repeat -640px -160px;
}

.zd_jlt :nth-child(5) {
 background: url(../img/social_icon_32x32.png) no-repeat -352px -160px;
}

